[Unit]
Description=Seer crawler service for ronin saigon blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer crawler --chain ronin_saigon --confirmations 10
SyslogIdentifier=seer-crawler-ronin-saigon

[Install]
WantedBy=multi-user.target
