[Unit]
Description=Seer crawler service for Arbitrum one blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer crawler --chain arbitrum_one --confirmations 10 --threads 4  --batch-size 20
SyslogIdentifier=seer-crawler-arbitrum-one

[Install]
WantedBy=multi-user.target
