[Unit]
Description=Seer synchronizer service for game7 blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer synchronizer --chain game7 --cycle-ticker-wait-time 1
SyslogIdentifier=seer-synchronizer-game7

[Install]
WantedBy=multi-user.target
