[Unit]
Description=Seer historical synchronizer service for mantle sepolia blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer historical-sync --auto --chain mantle_sepolia --rpc-url $MOONSTREAM_NODE_MANTLE_SEPOLIA_A_EXTERNAL_URI
SyslogIdentifier=seer-historical-synchronizer-mantle-sepolia

[Install]
WantedBy=multi-user.target
