[Unit]
Description=Seer crawler service for ethereum blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer crawler --chain ethereum --confirmations 6 --threads 2 --rpc-url $MOONSTREAM_NODE_ETHEREUM_A_EXTERNAL_URI
SyslogIdentifier=seer-crawler-ethereum

[Install]
WantedBy=multi-user.target
