[Unit]
Description=Seer crawler service for Xai blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer crawler --chain xai --confirmations 10 --threads 6 --batch-size 40
SyslogIdentifier=seer-crawler-xai

[Install]
WantedBy=multi-user.target
