[Unit]
Description=Seer synchronizer service for Immutable zkEvm Sepolia blockchain
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/seer
EnvironmentFile=/home/ubuntu/seer-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/seer/seer synchronizer --chain imx_zkevm_sepolia --rpc-url $MOONSTREAM_NODE_IMX_ZKEVM_SEPOLIA_A_EXTERNAL_URI
SyslogIdentifier=seer-synchronizer-imx-zkevm-sepolia

[Install]
WantedBy=multi-user.target
