# {{ .ChainNameLower }}_models.py

from sqlalchemy import Column, BigInteger
from base_models import EvmBasedBlocks, EvmBasedReorgs

class {{ .ChainNameLower }}BlockIndex(EvmBasedBlocks):
    __tablename__ = "{{ .ChainNameLower }}_blocks"

    {{- if .IsL2 }}
        l1_block_number = Column(BigInteger, nullable=False)
    {{- end }}

class {{ .ChainName }}Reorgs(EvmBasedReorgs):
    __tablename__ = "{{ .ChainNameLower }}_reorgs"
